/* jolly-lodger-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jolly Lodger';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jolly-lodger-v20-latin_latin-ext-regular.woff2') format('woff2');
}

/* goldman-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/goldman-v19-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* goldman-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/goldman-v19-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* iceland-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/iceland-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgb(60 60 60 / 29%);
  --vt-c-divider-light-2: rgb(60 60 60 / 12%);
  --vt-c-divider-dark-1: rgb(84 84 84 / 65%);
  --vt-c-divider-dark-2: rgb(84 84 84 / 48%);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgb(60 60 60 / 66%);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgb(235 235 235 / 90%);

  --font-family-sans:
    -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, helvetica, arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-serif: 'PT Serif', georgia, 'Times New Roman', times, serif;
  --font-family-monospace:
    consolas, 'Lucida Console', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', courier;
  --font-family-special-chars: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  --font-family-fancy: 'Jolly Lodger', var(--font-family-serif);
  --font-family-goldman: Goldman, Iceland, var(--font-family-serif);
  --font-family-iceland: Iceland, Goldman, var(--font-family-serif);
  --font-family-headline: var(--font-family-serif);

  --font-size-body: 16;
  --font-size-body-px: var(--font-size-body) px;
  --line-height-body: 24;
  --line-height-body-px: var(--line-height-body) px;
  --line-height-body-scale: calc(var(--line-height-body) / var(--font-size-body));

  --margin-body: var(--line-height-body);
  --margin-body-px: var(--margin-body) px;
  --margin-body-scale: calc(var(--margin-body) / var(--font-size-body));

  --font-size-icon-inline: 22;
  --font-size-icon-inline-px: var(--font-size-icon-inline) px;
  --font-size-icon-inline-pc: calc(var(--font-size-icon-inline) / var(--font-size-body) * 100%);
  --line-height-icon-inline: var(--line-height-body);
  --line-height-icon-inline-px: var(--line-height-icon-inline) px;
  --line-height-icon-inline-scale: calc(
    var(--line-height-icon-inline) / var(--font-size-icon-inline)
  );

  --font-size-h1: 46;
  --font-size-h1-px: var(--font-size-h1) px;
  --font-size-h1-pc: calc(var(--font-size-h1) / var(--font-size-body) * 100%);
  --line-height-h1: 48;
  --line-height-h1-px: var(--line-height-h1) px;
  --line-height-h1-scale: calc(var(--line-height-h1) / var(--font-size-h1));
  --margin-h1-em: calc(var(--margin-body) / var(--font-size-h1) * 1em);
  --font-size-h2: 42;
  --font-size-h2-px: var(--font-size-h2) px;
  --font-size-h2-pc: calc(var(--font-size-h2) / var(--font-size-body) * 100%);
  --line-height-h2: 48;
  --line-height-h2-px: var(--line-height-h2) px;
  --line-height-h2-scale: calc(var(--line-height-h2) / var(--font-size-h2));
  --margin-h2-em: calc(var(--margin-body) / var(--font-size-h2) * 1em);

  --color-black: #000;
  --color-black-rgb: 0 0 0;
  --color-white: #fff;
  --color-white-rgb: 255 255 255;
  --color-gray-10: #f7fafc;
  --color-gray-10-rgb: 247 250 252;
  --color-gray-20: #edf2f7;
  --color-gray-20-rgb: 237 242 247;
  --color-gray-30: #e2e8f0;
  --color-gray-30-rgb: 226 232 240;
  --color-gray-40: #cbd5e0;
  --color-gray-40-rgb: 203 213 224;
  --color-gray-50: #a0aec0;
  --color-gray-50-rgb: 160 174 192;
  --color-gray-60: #718096;
  --color-gray-60-rgb: 113 128 150;
  --color-gray-70: #4a5568;
  --color-gray-70-rgb: 74 85 104;
  --color-gray-80: #2d3748;
  --color-gray-80-rgb: 45 55 72;
  --color-gray-90: #1a202c;
  --color-gray-90-rgb: 26 32 44;
  --color-gray-100: #171923;
  --color-gray-100-rgb: 23 25 35;
  --color-yellow-neon: #b0ff00;
  --color-yellow-neon-rgb: 176 255 0;
  --color-orange: #ff7601;
  --color-orange-rgb: 255 118 1;
  --color-green: #00ff00;
  --color-green-rgb: 0 255 0;
  --color-green-dark: #00b300;
  --color-green-dark-rgb: 0 179 0;
  --color-blue-sky: #00aaea;
  --color-blue-sky-rgb: 0 170 234;

  --color-red-youtube: #f80c0f;
  --color-red-youtube-rgb: 248 12 15;

  --color-pyro: var(--color-yellow-neon);
  --color-pyro-rgb: var(--color-yellow-neon-rgb);
  --color-stanton: var(--color-blue-sky);
  --color-stanton-rgb: var(--color-blue-sky-rgb);

  /* Color Fractions */
  --color-fraction-citizens-for-prosperity: #aebc65;
  --color-fraction-citizens-for-prosperity-rgb: 174 188 101;
  --color-fraction-xenothreat: #cc1215;
  --color-fraction-xenothreat-rgb: 204 18 21;
  --color-fraction-headhunters: #7b1189;
  --color-fraction-headhunters-rgb: 123 17 137;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--line-height-body-scale);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size-body-px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
