@import './base.css';

#app {}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.is-hidden {
  display: none;
}

.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

svg.icon {
  fill: currentColor;
  width: 1.5em;
}

.inline-icon {
  font-family: var(--font-family-iceland);
  font-size: var(--font-size-icon-inline-pc);
  line-height: var(--line-height-icon-inline-scale);
  padding-right: .05em;
  letter-spacing: -0.05em;

  svg.icon {
    display: inline-block;
    height: 1em;
    width: auto;
    padding: 0 6px;
    vertical-align: middle;
    transform: scale(1.15);
  }
}

h1 {
  font-family: var(--font-family-fancy);
  font-size: var(--font-size-h1-pc);
  line-height: var(--line-height-h1-scale);
  margin: var(--margin-h1-em) 0;
  color: var(--color-yellow-neon);
}

h2 {
  font-family: var(--font-family-fancy);
  font-size: var(--font-size-h2-pc);
  line-height: var(--line-height-h2-scale);
  margin: var(--margin-h2-em) 0;
  color: var(--color-yellow-neon);
}

.button {
  padding: 2px 6px;
  line-height: 1.5;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /*
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
  */
}
